.DS_Store
.idea/

# Symfony
backend/.env.local
backend/.env.local.php
backend/.env.*.local
backend/var/
backend/vendor/
backend/node_modules/
backend/.phpunit.cache/
backend/public/bundles/
backend/public/build/
backend/public/uploads/media/*
!backend/public/uploads/media/.gitkeep

# Docker local overrides
docker-compose.override.yml
